---
Checks: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*,
  portability-*,
  clang-analyzer-*,
  readability-braces-around-statements
WarningsAsErrors: '*'
HeaderFilterRegex: '^(include|src)/'
---
